<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pigma.harusari.diary.query.mapper.DiaryQueryMapper">

    <select id="getLastMonthDiaries" resultType="com.pigma.harusari.diary.command.domain.aggregate.Diary">
        SELECT *
        FROM diary
        WHERE member_id = #{memberId}
          AND created_at BETWEEN #{start} AND #{end}
    </select>

    <select id="findDiaryByMemberIdAndDate" resultType="com.pigma.harusari.diary.query.dto.DiaryResponseDto">
        SELECT
            d.diary_title AS diaryTitle,
            d.diary_content AS diaryContent
        FROM diary d
        WHERE d.member_id = #{memberId}
          AND DATE(d.created_at) = #{date}
    </select>
</mapper>
