<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pigma.harusari.alarm.query.mapper.ScheduleQueryMapper">

    <select id="findIncompleteScheduleCount" resultType="map">
        SELECT c.member_id, COUNT(*) AS count
        FROM schedule s
            JOIN category c ON s.category_id = c.category_id
        WHERE s.completion_status = 0
          AND DATE(s.schedule_deadline) = CURRENT_DATE
        GROUP BY c.member_id
    </select>

</mapper>
